<div class="content">
  <div class="content__group">
    <div class="content__text content__text--black">
      <h1 class="content__header">Create and share your photo stories.</h1>
      <p class="content__paragraph">
        Photosnap is a platform for photographers and visual storytellers. We
        make it easy to share photos, tell stories and connect with others.
      </p>
      <a href="" class="content__link"
        >Get an invite
        <img
          class="content__arrow-white"
          src="../../../assets/images/shared/desktop/arrow.svg"
          alt="Right arrow"
      /></a>
    </div>
    <div class="content__image-container">
      <img
        src="../../../assets/images/home/desktop/create-and-share.jpg"
        alt="Man standing on jetty"
        class="content__image"
      />
    </div>
  </div>
  <div class="content__group">
    <div class="content__image-container">
      <img
        src="../../../assets/images/home/desktop/beautiful-stories.jpg"
        alt="Laptop on a desk"
        class="content__image"
      />
    </div>
    <div class="content__text">
      <h1 class="content__header">Beautiful stories every time</h1>
      <p class="content__paragraph">
        We provide design templates to ensure your stories look terrific. Easily
        add photos, text, embed maps and media from other networks. Then share
        your story with everyone.
      </p>
      <a href="" class="content__link"
        >View the stories
        <img
          src="../../../assets/images/shared/desktop/arrow.svg"
          alt="Right arrow"
      /></a>
    </div>
  </div>
  <div class="content__group">
    <div class="content__text">
      <h1 class="content__header">Designed for everyone</h1>
      <p class="content__paragraph">
        Photosnap can help you create stories that resonate with your audience.
        Our tool is designed for photographers of all levels, brands, businesses
        you name it.
      </p>
      <a href="" class="content__link"
        >View the stories
        <img
          src="../../../assets/images/shared/desktop/arrow.svg"
          alt="Right arrow"
      /></a>
    </div>
    <div class="content__image-container">
      <img
        src="../../../assets/images/home/desktop/designed-for-everyone.jpg"
        alt="Man with camera"
        class="content__image"
      />
    </div>
  </div>
</div>
