<div class="feature-list">
  <h1 class="feature-list__header">Compare</h1>
  <table class="table">
    <thead class="table__header">
      <tr>
        <th><h4>The Features</h4></th>
        <th><h4>Basic</h4></th>
        <th><h4>Pro</h4></th>
        <th><h4>Business</h4></th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr>
        <th><h4>Unlimited Story Posting</h4></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
      <tr>
        <th><h4>Unlimited Photo Upload</h4></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
      <tr>
        <th><h4>Embedded Custom Content</h4></th>
        <th></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
      <tr>
        <th><h4>Customize Metadata</h4></th>
        <th></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
      <tr>
        <th><h4>Advanced Metrics</h4></th>
        <th></th>
        <th></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
      <tr>
        <th><h4>Photo Downloads</h4></th>
        <th></th>
        <th></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
      <tr>
        <th><h4>Search Engine Indexing</h4></th>
        <th></th>
        <th></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
      <tr>
        <th><h4>Custom Analytics</h4></th>
        <th></th>
        <th></th>
        <th>
          <img
            src="../../../assets/images/pricing/desktop/check.svg"
            alt="Tick"
          />
        </th>
      </tr>
    </tbody>
  </table>
  <div class="table-mobile">
    <h4 class="table-mobile__header">The Features</h4>
    <hr class="table-mobile__line" />
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Unlimited Story Posting</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Unlimited Photo Upload</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Embedded Custom Content</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <div>&nbsp;</div>
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Customize Metadata</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <div>&nbsp;</div>
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Advanced Metrics</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Photo Download</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Search Engine Indexing</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
    <div class="table-mobile__card">
      <h4 class="table-mobile__second-header">Custom Analytics</h4>
      <div class="table-mobile__secondary-header-group">
        <h5 class="table-mobile__basicprobus">Basic</h5>
        <h5 class="table-mobile__basicprobus">Pro</h5>
        <h5 class="table-mobile__basicprobus">Business</h5>
      </div>
      <div class="table-mobile__secondary-header-group">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <img
          src="../../../assets/images/pricing/desktop/check.svg"
          alt="Tick"
        />
      </div>
      <hr />
    </div>
  </div>
</div>
