<div class="story">
  <a routerLink="../../stories" class="story__link"
    ><img
      class="story__arrow"
      src="../../../assets/images/shared/desktop/arrow.svg"
      alt="Left arrow"
    />Back
  </a>
  <div class="story__content">
    <div class="story__img-container">
      <img
        src="../../../assets/images/stories/desktop/{{
          this.story.imageURL
        }}.jpg"
        alt="{{ this.story.title }} + Image"
        class="story__img"
      />
    </div>

    <div class="story__text-container">
      <p class="image-card__text">{{ this.story.date }}</p>
      <h1 class="image-card__header">{{ this.story.title }}</h1>
      <p class="image-card__text">{{ this.story.author }}</p>
      <hr class="image-card__line" />
      <p class="story__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        omnis vitae, veritatis quasi molestiae illum autem animi quis hic
        cupiditate quod. Unde, dicta cum. Nulla sapiente maiores incidunt
        quaerat architecto! Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Maiores voluptatibus iste hic corporis ratione expedita
        aspernatur, perspiciatis impedit sed possimus nobis quos aperiam
        voluptas sunt facilis ex harum dicta excepturi?
      </p>
      <p class="story__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        omnis vitae, veritatis quasi molestiae illum autem animi quis hic
        cupiditate quod. Unde, dicta cum. Nulla sapiente maiores incidunt
        quaerat architecto! Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Maiores voluptatibus iste hic corporis ratione expedita
        aspernatur, perspiciatis impedit sed possimus nobis quos aperiam
        voluptas sunt facilis ex harum dicta excepturi?
      </p>
      <p class="story__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        omnis vitae, veritatis quasi molestiae illum autem animi quis hic
        cupiditate quod. Unde, dicta cum. Nulla sapiente maiores incidunt
        quaerat architecto! Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Maiores voluptatibus iste hic corporis ratione expedita
        aspernatur, perspiciatis impedit sed possimus nobis quos aperiam
        voluptas sunt facilis ex harum dicta excepturi?
      </p>
    </div>
  </div>
</div>
