.feature {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  &__header {
    margin-bottom: 1rem;
  }

  &__paragraph {
    text-align: center;
  }

  &__image {
    margin-bottom: 3rem;
  }
}
