<footer class="footer">
  <div class="footer__icon-group">
    <img
      src="../../../../assets/images/shared/desktop/logo-white.svg"
      alt="Photosnap Logo"
      class="footer__logo"
    />
    <div class="footer__social-icons-group">
      <img
        src="../../../../assets/images/shared/desktop/facebook.svg"
        alt="Facebook"
        class="footer__social-icon"
      />
      <img
        src="../../../../assets/images/shared/desktop/youtube.svg"
        alt="Youtube"
        class="footer__social-icon"
      />
      <img
        src="../../../../assets/images/shared/desktop/twitter.svg"
        alt="Twitter"
        class="footer__social-icon"
      />
      <img
        src="../../../../assets/images/shared/desktop/pinterest.svg"
        alt="Pinterest"
        class="footer__social-icon"
      />
      <img
        src="../../../../assets/images/shared/desktop/instagram.svg"
        alt="Instagram"
        class="footer__social-icon"
      />
    </div>
  </div>
  <div class="footer__nav">
    <a href="" class="footer__link" routerLink="">Home</a>
    <a href="" class="footer__link" routerLink="stories">Stories</a>
    <a href="" class="footer__link" routerLink="features">Features</a>
    <a href="" class="footer__link" routerLink="pricing">Pricing</a>
  </div>
  <div class="footer__CTA-group">
    <div class="footer__CTA">
      <a href="" class="footer__CTA-link"
        >Get an invite
        <img
          class="footer__arrow"
          src="../../../assets/images/shared/desktop/arrow.svg"
          alt="Right arrow"
      /></a>
    </div>
    <div class="footer__copyright">Copyright 2022. All Rights Reserved</div>
  </div>
</footer>
